@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/mononoki.min.css");

div {
	text-align: center;
}

body {
	line-height: 1.4;
	max-width: 650px;
	margin: 40px auto;
	color:#444;
}

h1, h2, h3 {
	line-height: 1.2;
}

@media only screen and (min-width: 435px) {
	body {
		padding: 75px 75px 75px 75px;
	}

	.footer {
		width: 315px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 435px) {
	body {
		padding: 50px 50px 50px 50px;
	}

	.footer {
		width: 260px;
		margin-left: auto;
		margin-right: auto;
	}
}

.evenly-spaced-children {
	display: flex;
	padding-top: 25px;
	justify-content: space-around;
}

.resume {
	text-align: left;
}

* {
  font-family: 'mononoki';
}
